# Welcome to Jekyll!
#
# This config file is meant for settings that affect your whole blog, values
# which you are expected to set up once and rarely edit after that. If you find
# yourself editing this file very often, consider using Jekyll's data files
# feature for the data you need to update frequently.
#
# For technical reasons, this file is *NOT* reloaded automatically when you use
# 'bundle exec jekyll serve'. If you change this file, please restart the server process.
#
# If you need help with YAML syntax, here are some quick references for you:
# https://learn-the-web.algonquindesign.ca/topics/markdown-yaml-cheat-sheet/#yaml
# https://learnxinyminutes.com/docs/yaml/
#
# Site settings
# These are used to personalize your new site. If you look in the HTML files,
# you will see them accessed via {{ site.title }}, {{ site.email }}, and so on.
# You can create any custom variable you would like, and they will be accessible
# in the templates via {{ site.myvariable }}.

title: Himanshu Patel Blog
title-separator: "-"
email: himanshu.patel.26@gmail.com
description: Himanshu Patel Blog - Engineering Leadership at Workday
url: "https://himanshu-g-patel.github.io" # the base hostname & protocol for your site, e.g. http://example.com
baseurl: "/blog" # the subpath of your site, e.g. /blog
repository: "himanshu-g-patel/himanshu-g-patel.github.io"
search: false

author:
  name: "Himanshu G. Patel"
  avatar: "/images/himanshu.jpg"
  location: "San Francisco Bay Area, CA"
  bio: Engineering Leadership at Workday
  email  : himanshu.patel.26@gmail.com
  twitter: himanshupatel26
  facebook: himanshupatel26
  linkedin: himanshupatel26
  github: himanshu-g-patel

# social sharing
twitter:
  username: "himanshupatel26"

defaults:
  - scope:
      path: "" # an empty string here means all files in the project
      type: "posts" # previously `post` in Jekyll 2.2.
    values:
      layout: single
      author_profile: true
      read_time: false
      comments: false
      share: false
      related: false
      toc_label: "On this page"

  -
    scope:
      path: "files" # path to href is /blog/files/foo.pdf
    values:
      image: true

# Build settings
markdown: kramdown
theme: minima
remote_theme: "mmistakes/minimal-mistakes"
minimal_mistakes_skin: "dark" # "air", "aqua", "contrast", "dark", "dirt", "neon", "mint", "plum" "sunrise"

plugins:
  - jekyll-feed
  - jekyll-remote-theme
  - jekyll-redirect-from
  - jekyll-sitemap
  - jekyll-include-cache

# Add pagination v2 config:
pagination:
  enabled: true
  per_page: 10
  permalink: '/page/:num/'
  title: ':title - Page :num'
  limit: 0
  sort_field: 'date'
  sort_reverse: true
